@page
@model WebAppNet.Pages.ClassModel
@{
}

<h1 class="text-center mb-5">Class</h1>

<p>Class Id: @Model.Class.Id</p>
<p>Teacher: @Model.Class.Teacher.Name</p>
<p>Subject: @Model.Class.Teacher.Subject</p>
<p>Students:</p>
<table class="table mt-5 col-4 border">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach (var student in @Model.Class.Students)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.Name</td>
        </tr>
    }
</table>